/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-abr-2014, 13:36:56
    Author     : raznara
*/



body {
    background-color: rgb(214, 221, 233);
}

.margen-superior {
    margin-top: 80px !important;
}

/* Navbar */
#app {
    position: absolute;
    top: 2%;
    left: 47%;
}

/* Intro de la pagina de inicio */
#intro {
    position: relative;
    //background: url(../../images/portada.jpg) no-repeat center center;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    color: #000;
    padding: 270px 0 0 0;
    box-shadow: 0px 10px 10px #888888;
}

#intro > h1 {
    display: block;
    position: relative;
    top: -2em;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    color: #000 !important;
    font-size: 500%;
    font-weight: 100;
}

#intro > h1 > span {
    font-size: 30%;
    color: black !important;
}

/*.jumbotron {
    background-color: #f0a30a ;
}*/

/* Zona de informacion */

/* Cabecera de las tablas */
.panel-default>.panel-heading {
    background-color:#428bca;
    color:whitesmoke;
}

th{
    min-width: 30px;
    color: whitesmoke;
    background-color: #176185;
}

.datepicker th{
    background-color: white;
    color: black;
}

.navbar-inverse{
    background-color: #176185 !important;
    color: white;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: white;
}


.modal-dialog {}

.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
    background-image:none;
    margin-top:10%;
    width:5%;
}

.bordered {
    border: solid #366FCE 2px;
    margin-top: 30px;
}

.bordered:hover {
    border: solid #2B58A4 2px;
    margin-top: 30px;
    cursor: pointer;
}

.centered > a:nth-child(even){
    margin-left: 20px;
}

.centered {
    margin-left: 13%;
    margin-top: 50px;
}

.bordered{
    position: relative;
    background-color: #3D7CE5;
    height: 150px;
    border-radius: 10px;
}

.bordered >  p {
    position: relative;
    top: 100px;
    left: -15px;
    background-color: white;
    border-top: 2px solid black;
    width: 427px;
    height: 46px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding-top: 3px;
    font-size: 1.6em;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #3C759B;
}

.btn-group > .btn {
    height: 30px;
    margin-bottom: 0;
    margin-left: 1px !important;
}

.table > thead > tr > th{
    border-top: 2px solid #ddd !important;
}

.card .card-title {
    font-size: 14px !important;
}